# Project Code and Data Walkthrough

### Duncan Park and Kyle Parran

#### This notebook intends to give users a brief tour of the data pulled, processed, and analyzed in our project.



#




## Import Statements

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# local modules
import sys
sys.path.append('../src/')
from calc_format_futures_data import *
from pull_futures_data import *

import warnings
warnings.filterwarnings("ignore")

Loading library list...
Done

## Loading Data from WRDS

#### First, for each commodity you try to find info on all the futures contracts for that respective commodity

In [2]:
info_df = fetch_wrds_contract_info(2036, 'paper')
info_df

,futcode,contrcode,contrname,contrdate,startdate,lasttrddate
0,115736.0,2036.0,ORANGE JUICE (FCOJ-A),0595,1993-12-02,1995-05-17
1,115808.0,2036.0,ORANGE JUICE (FCOJ-A),1191,1991-03-04,1991-11-15
2,120392.0,2036.0,ORANGE JUICE (FCOJ-A),0902,2001-03-12,2002-09-10
3,120868.0,2036.0,ORANGE JUICE (FCOJ-A),0393,1991-10-02,1993-03-18
4,121580.0,2036.0,ORANGE JUICE (FCOJ-A),1183,1982-05-28,1983-11-16
...,...,...,...,...,...,...
201,103753.0,2036.0,ORANGE JUICE (FCOJ-A),0779,1978-02-02,1979-07-18
202,109822.0,2036.0,ORANGE JUICE (FCOJ-A),1186,1985-06-03,1986-11-14
203,110839.0,2036.0,ORANGE JUICE (FCOJ-A),0104,2002-01-11,2004-01-09
204,112575.0,2036.0,ORANGE JUICE (FCOJ-A),1102,2001-05-01,2002-11-07
205,112933.0,2036.0,ORANGE JUICE (FCOJ-A),0905,2004-02-20,2005-09-12

#### Then, for each commodity, we can query all the time series data for all of these relevant futures.

In [3]:
futcodes = tuple(info_df["futcode"].unique())
futcodes_contrdates = info_df.set_index("futcode")["contrdate"].to_dict()

In [4]:
futcodes_contrdates

{115736.0: '0595',
 115808.0: '1191',
 120392.0: '0902',
 120868.0: '0393',
 121580.0: '1183',
 121668.0: '0500',
 122846.0: '0580',
 123139.0: '0594',
 123615.0: '0196',
 124167.0: '0788',
 124512.0: '1198',
 124571.0: '0783',
 125977.0: '0306',
 126250.0: '0390',
 127489.0: '0307',
 129546.0: '0579',
 129570.0: '0108',
 129851.0: '0191',
 129949.0: '1194',
 129952.0: '1107',
 130490.0: '0583',
 130504.0: '0990',
 132069.0: '0998',
 135076.0: '1180',
 135304.0: '0395',
 138266.0: '0795',
 138271.0: '0982',
 138403.0: '0103',
 141395.0: '0194',
 141893.0: '0180',
 141895.0: '0199',
 144960.0: '0302',
 145578.0: '1181',
 145834.0: '0797',
 147611.0: '0184',
 147911.0: '0907',
 155211.0: '0793',
 156178.0: '0781',
 156464.0: '0784',
 156790.0: '1192',
 157394.0: '0588',
 159065.0: '0992',
 160136.0: '0708',
 161827.0: '0908',
 161863.0: '0502',
 163075.0: '1187',
 163467.0: '0397',
 170028.0: '0789',
 173753.0: '0379',
 174494.0: '0790',
 176033.0: '0504',
 176399.0: '1106',
 176695.0: '0786',
 176961.0: '0305',
 177071.0: '0181',
 177447.0: '0392',
 177448.0: '0787',
 178225.0: '0997',
 178230.0: '0785',
 183251.0: '0904',
 188310.0: '1188',
 189630.0: '0996',
 191473.0: '0985',
 194412.0: '0396',
 195283.0: '0179',
 197774.0: '1108',
 197816.0: '0991',
 200461.0: '0383',
 200473.0: '0381',
 203058.0: '0585',
 203442.0: '1190',
 205898.0: '0599',
 206098.0: '0391',
 206197.0: '0598',
 207289.0: '1104',
 207869.0: '0706',
 208347.0: '0185',
 213900.0: '0799',
 213996.0: '0796',
 218630.0: '0794',
 226374.0: '0798',
 226396.0: '0398',
 228803.0: '0506',
 229220.0: '0105',
 318226.0: '0175',
 318227.0: '0176',
 318228.0: '0177',
 318229.0: '0178',
 318230.0: '0375',
 318231.0: '0376',
 318232.0: '0377',
 318233.0: '0378',
 318234.0: '0575',
 318235.0: '0576',
 318236.0: '0577',
 318237.0: '0578',
 318238.0: '0774',
 318239.0: '0775',
 318240.0: '0776',
 318241.0: '0777',
 318242.0: '0778',
 318243.0: '0974',
 318244.0: '0975',
 318245.0: '0976',
 318246.0: '0977',
 318247.0: '0978',
 318248.0: '1174',
 318249.0: '1175',
 318250.0: '1176',
 318251.0: '1177',
 46.0: '0303',
 189.0: '0300',
 190.0: '0704',
 391.0: '0986',
 912.0: '0188',
 1453.0: '0382',
 1927.0: '0301',
 2629.0: '0189',
 3039.0: '0102',
 3705.0: '0505',
 5272.0: '0792',
 5676.0: '0508',
 5890.0: '0980',
 8169.0: '1101',
 8809.0: '1105',
 8816.0: '1199',
 8920.0: '0182',
 9186.0: '0999',
 9893.0: '0187',
 11306.0: '1185',
 11333.0: '0394',
 13260.0: '0101',
 16213.0: '0994',
 17358.0: '0984',
 17468.0: '0589',
 18000.0: '0195',
 18122.0: '0993',
 19091.0: '0380',
 19652.0: '0983',
 22147.0: '0503',
 26208.0: '0906',
 26217.0: '0988',
 28059.0: '1103',
 29326.0: '0388',
 29421.0: '0106',
 29559.0: '0705',
 30857.0: '0989',
 34316.0: '1100',
 34348.0: '0584',
 34837.0: '0192',
 35537.0: '0100',
 36371.0: '0900',
 37099.0: '0979',
 38438.0: '0995',
 40694.0: '0389',
 41620.0: '0308',
 42274.0: '0702',
 43334.0: '0981',
 45718.0: '1184',
 52491.0: '0791',
 52630.0: '0901',
 54269.0: '0987',
 58985.0: '0193',
 61315.0: '0586',
 61689.0: '0304',
 61853.0: '1179',
 63091.0: '0593',
 63092.0: '0581',
 64659.0: '0385',
 68493.0: '0501',
 69226.0: '0703',
 69356.0: '0592',
 69732.0: '0387',
 73007.0: '0183',
 73487.0: '1182',
 73554.0: '0507',
 74587.0: '0700',
 75031.0: '1193',
 75685.0: '0197',
 77134.0: '0707',
 77607.0: '0596',
 77851.0: '0701',
 82194.0: '0186',
 82801.0: '0190',
 84132.0: '1197',
 84788.0: '1189',
 84892.0: '0782',
 86275.0: '0780',
 87320.0: '0597',
 87339.0: '0198',
 87429.0: '0107',
 87435.0: '0582',
 90799.0: '0384',
 91409.0: '0587',
 93988.0: '0399',
 100084.0: '0903',
 100124.0: '0590',
 100907.0: '0591',
 101265.0: '0386',
 102092.0: '1195',
 103337.0: '1196',
 103753.0: '0779',
 109822.0: '1186',
 110839.0: '0104',
 112575.0: '1102',
 112933.0: '0905'}

In [5]:
data_contracts = fetch_wrds_fut_contract(futcodes_contrdates, 'paper')
data_contracts

        futcode      date_  settlement contrdate
0          46.0 2001-10-08   93.250000      0303
1          46.0 2001-10-09   93.250000      0303
2          46.0 2001-10-10   93.549988      0303
3          46.0 2001-10-11   93.799988      0303
4          46.0 2001-10-12   98.799988      0303
...         ...        ...         ...       ...
72477  318251.0 1977-11-10  124.500000      1177
72478  318251.0 1977-11-11  125.500000      1177
72479  318251.0 1977-11-14  129.850000      1177
72480  318251.0 1977-11-15  131.100000      1177
72481  318251.0 1977-11-16  195.000000      1177

[72482 rows x 4 columns]

In [6]:
data_contracts = data_contracts.sort_values(["futcode", "date_"])

# Group by futcode and the month-year of date_, then take the last row in each group
monthly_df = data_contracts.groupby(["futcode", data_contracts["date_"].dt.to_period("M")]).tail(1)

In [7]:
monthly_df

        futcode      date_  settlement contrdate
17         46.0 2001-10-31   99.500000      0303
36         46.0 2001-11-30  103.299990      0303
54         46.0 2001-12-28   98.049988      0303
75         46.0 2002-01-31   92.899994      0303
94         46.0 2002-02-28   91.000000      0303
...         ...        ...         ...       ...
72405  318251.0 1977-07-29  111.950000      1177
72428  318251.0 1977-08-31  109.100000      1177
72449  318251.0 1977-09-30  127.900000      1177
72470  318251.0 1977-10-31  125.750000      1177
72481  318251.0 1977-11-16  195.000000      1177

[3612 rows x 4 columns]

In [8]:
res = extract_prompt_and_12m_settlements(monthly_df)

In [9]:
res.dropna().head(20)

         prompt_settlement  11mth_settlement     basis
1974-08          52.000000         57.699997 -0.009456
1974-10          53.399994         61.349991 -0.012617
1975-02          47.500000         53.899994 -0.011491
1975-04          49.250000         57.250000 -0.013683
1975-06          53.199997         61.149994 -0.012661
1975-08          59.899994         66.000000 -0.008816
1975-10          63.549988         69.000000 -0.007480
1975-12          58.000000         65.049988 -0.010428
1976-02          61.449997         68.799988 -0.010271
1976-04          59.449997         64.899994 -0.007974
1976-06          53.000000         57.299988 -0.007092
1976-08          48.000000         54.250000 -0.011127
1976-10          47.599991         52.599991 -0.009080
1976-12          40.799988         46.299988 -0.011496
1977-02          73.699997         72.099991  0.001995
1977-04          78.500000         75.500000  0.003542
1977-06          94.699997         84.750000  0.010092
1977-08         115.250000         90.799988  0.021677
1977-10         125.750000        121.000000  0.003500
1978-02         123.200000         99.699997  0.019240

In [10]:
res['basis'].mean()

-0.002837122103595275

### Need to fix futures stats calculations. do basis and excess returns calculations on separate dataframes