In [31]:
from settings import config
from pathlib import Path
OUTPUT_DIR = Path(config("OUTPUT_DIR"))
DATA_DIR = Path(config("DATA_DIR"))
WRDS_USERNAME = config("WRDS_USERNAME")
import pandas as pd
import wrds

In [32]:
db = wrds.Connection(wrds_username=WRDS_USERNAME)

Loading library list...
Done

In [33]:
db.describe_table(library="tr_ds_fut", table="wrds_contract_info")

Approximately 434565 rows in tr_ds_fut.wrds_contract_info.

,name,nullable,type,comment
0,futcode,True,"NUMERIC(11, 0)",FutCode - Refinitiv ID for a Datastream mnemonic
1,contrcode,True,"NUMERIC(11, 0)",ContrCode - Refinitiv generated ID for a Datas...
2,clscode,True,"NUMERIC(11, 0)",ClsCode - Refinitiv code for a Datastream clas...
3,dsmnem,True,VARCHAR(10),DSMnem - Datastream mnemonic
4,contrname,True,VARCHAR(90),ContrName - Contract Name
5,ldb,True,VARCHAR(3),LDB - Logical database code; Datastream Future...
6,contrdate,True,VARCHAR(12),ContrDate - Contract date in the string format...
7,contrdatefmt,True,VARCHAR(8),ContrDateFmt - (reserved for future development)
8,isocurrcode,True,VARCHAR(3),ISOCurrCode - ISO Currency Code for the curren...
9,isocurrdesc,True,VARCHAR(90),Desc_ - Full name or description of Code + Type_
10,currunitcode,True,VARCHAR(4),CurrUnitCode - Indicates the unit of currency....
11,unitcode,True,"NUMERIC(11, 0)",UnitCode - Indicates the units of a futures co...
12,unitdesc,True,VARCHAR(90),Desc_ - Full name or description of Code + Type_
13,trdstatcode,True,VARCHAR(1),TrdStatCode - Status code and indicates whethe...
14,startdate,True,DATE,StartDate - Indicates the date from which the ...
15,lasttrddate,True,DATE,Date on which the contract expires
16,sttlmntdate,True,DATE,SttlmntDate - The date when the contract is se...
17,expirationdate,True,DATE,ExpirationDate - (reserved for future developm...
18,firstnoticedate,True,DATE,FirstNoticeDate - The day after which an inves...
19,lastnoticedate,True,DATE,LastNoticeDate - (reserved for future developm...
20,firstdelvrydate,True,DATE,FirstDelvryDate - (reserved for future develop...
21,ticksizeunitcode,True,"NUMERIC(11, 0)",TickSizeUnitCode - (reserved for future develo...
22,exchtickersymb,True,VARCHAR(12),ExchTickerSymb - Security ticker or symbol pro...
23,trdmonths,True,VARCHAR(30),Trading Cycle Months

In [34]:
query = """SELECT * FROM tr_ds_fut.wrds_contract_info WHERE contrname ILIKE '%%henry hub%%' AND contrdate LIKE '0125' LIMIT 1000"""
data = db.raw_sql(query)
data

,futcode,contrcode,clscode,dsmnem,contrname,ldb,contrdate,contrdatefmt,isocurrcode,isocurrdesc,...,startdate,lasttrddate,sttlmntdate,expirationdate,firstnoticedate,lastnoticedate,firstdelvrydate,ticksizeunitcode,exchtickersymb,trdmonths
0,354503.0,3888.0,2910.0,NHD0125,Henry Hub Natural Gas Financial Last Day Compo...,COM,0125,<NA>,USD,US Dollar,...,2018-02-21,2024-12-27,2024-12-30,<NA>,<NA>,<NA>,<NA>,<NA>,HH,ALL
1,383627.0,3889.0,2911.0,NHF0125,Henry Hub Natural Gas Look-Alike Penultimate C...,COM,0125,<NA>,USD,US Dollar,...,2019-11-22,2024-12-26,2024-12-27,<NA>,<NA>,<NA>,<NA>,<NA>,HP,ALL
2,283438.0,2030.0,3813.0,NHP0125,HENRY HUB PEN. SWAP,COM,0125,<NA>,USD,US Dollar,...,2015-02-19,2024-12-26,2024-12-26,<NA>,<NA>,<NA>,<NA>,<NA>,NP,ALL
3,244376.0,2028.0,1513.0,NHN0125,HENRY HUB GAS SWAP,COM,0125,<NA>,USD,US Dollar,...,2013-05-10,2024-12-27,2024-12-27,<NA>,<NA>,<NA>,<NA>,<NA>,NN,ALL

In [35]:
db.describe_table(library="tr_ds_fut", table="wrds_fut_contract")

Approximately 162185055 rows in tr_ds_fut.wrds_fut_contract.

,name,nullable,type,comment
0,futcode,True,"NUMERIC(11, 0)",FutCode - Refinitiv ID for a Datastream mnemonic
1,date_,True,DATE,Date_ - Market date
2,open_,True,DOUBLE PRECISION,Open_ - Opening value of a contract. This valu...
3,high,True,DOUBLE PRECISION,High - High value of a contract trade. If ther...
4,low,True,DOUBLE PRECISION,Low - Low value of a contract trade. If there ...
5,volume,True,DOUBLE PRECISION,Volume - Trade volume for the given date
6,settlement,True,DOUBLE PRECISION,Settlement - Settlement price as published and...
7,openinterest,True,DOUBLE PRECISION,OpenInterest - Total number of contracts enter...
8,p,True,DOUBLE PRECISION,Price - Closing
9,pb,True,DOUBLE PRECISION,Price Bid
10,pa,True,DOUBLE PRECISION,Price Ask
11,wa,True,DOUBLE PRECISION,Weighted Average price
12,ca,True,DOUBLE PRECISION,Price - Close APT
13,yd,True,DOUBLE PRECISION,Yield
14,hm,True,DOUBLE PRECISION,Price - High AM Session
15,ha,True,DOUBLE PRECISION,Price - High PM Session
16,mt,True,DOUBLE PRECISION,Price - Last traded AM Session
17,la,True,DOUBLE PRECISION,Price - Low AM Session
18,lm,True,DOUBLE PRECISION,Price - Low PM Session
19,oa,True,DOUBLE PRECISION,Price - Opening PM Session
20,up,True,DOUBLE PRECISION,Unadjusted Price

In [36]:
query = """SELECT * FROM tr_ds_fut.wrds_fut_contract WHERE futcode = 244376 LIMIT 10000"""
data = db.raw_sql(query)
data

,futcode,date_,open_,high,low,volume,settlement,openinterest,p,pb,...,wa,ca,yd,hm,ha,mt,la,lm,oa,up
0,244376.0,2013-05-10,6.867,6.867,6.867,0.0,6.867,0.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,244376.0,2013-05-13,6.877,6.877,6.877,0.0,6.877,0.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,244376.0,2013-05-14,6.908,6.908,6.908,0.0,6.908,0.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,244376.0,2013-05-15,6.889999,6.889999,6.889999,0.0,6.889999,0.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,244376.0,2013-05-16,6.886999,6.886999,6.886999,0.0,6.886999,0.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2926,244376.0,2024-12-20,3.748,3.748,3.748,80.0,3.748,12252.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2927,244376.0,2024-12-23,3.656,3.656,3.656,0.0,3.656,12252.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2928,244376.0,2024-12-24,3.946,3.946,3.946,65.0,3.946,12265.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2929,244376.0,2024-12-26,3.715,3.715,3.715,103.0,3.715,12368.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2930,244376.0,2024-12-27,3.514,3.514,3.514,124.0,3.514,12492.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>